<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="t2d"
            icon="icons/releng_gears.gif"
            class="t2d.perspectives.T2DPerspective"
            id="t2d.perspectives.T2DPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="t2d"
            id="t2d">
      </category>;
      <view
            name="t2d"
            icon="icons/sample.gif"
            category="t2d"
            class="t2d.views.T2DView"
            id="t2d.views.T2DView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="t2d.perspectives.T2DPerspective">
         <view
               ratio="0.5"
               id="t2d.views.T2DView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
